.table-container{
    width: max-content;
    margin: 30px 60px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 0px 15px rgb(199, 199, 199);
}

.table-container td,th{
    padding: 3px 5px;
}


table,td,th{
    border: 1px solid grey;
    border-collapse: collapse;
}